@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 25% 20%;
    --foreground: 180 10% 95%;
    --card: 180 25% 25%;
    --card-foreground: 180 10% 95%;
    --popover: 180 25% 20%;
    --popover-foreground: 180 10% 95%;
    --primary: 180 40% 70%;
    --primary-foreground: 180 25% 10%;
    --secondary: 180 15% 30%;
    --secondary-foreground: 180 10% 98%;
    --muted: 180 15% 30%;
    --muted-foreground: 180 10% 65%;
    --accent: 180 40% 80%;
    --accent-foreground: 180 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 30%;
    --input: 180 15% 30%;
    --ring: 180 40% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 25% 20%;
    --foreground: 180 10% 95%;
    --card: 180 25% 25%;
    --card-foreground: 180 10% 95%;
    --popover: 180 25% 20%;
    --popover-foreground: 180 10% 95%;
    --primary: 180 40% 70%;
    --primary-foreground: 180 25% 10%;
    --secondary: 180 15% 30%;
    --secondary-foreground: 180 10% 98%;
    --muted: 180 15% 30%;
    --muted-foreground: 180 10% 65%;
    --accent: 180 40% 80%;
    --accent-foreground: 180 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 30%;
    --input: 180 15% 30%;
    --ring: 180 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  kbd {
    @apply px-2 py-1 text-xs font-semibold text-foreground bg-muted rounded-md border;
  }
}
